
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cafe Menu App Admin Panel</title>
    <link href="~/bootstap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow">
        <div class="container-fluid">
            <a class="navbar-brand text-success" href="/Admin/Dashboard/Index">Cafe Menu Admin Panel </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
						<a class="nav-link active text-light" aria-current="page" href="/Admin/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" aria-current="page" href="/Admin/User/Index">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" aria-current="page" href="/Admin/Category/Index">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-light" aria-current="page" href="/Admin/Product/Index">Products</a>
                    </li>
                  
                </ul>
               
                    <a href="/" class="btn btn-outline-success">Web</a>
             
            </div>
        </div>
    </nav>


    @RenderBody()
   


</body>
</html>
<script src="~/bootstap/js/bootstrap.bundle.min.js"></script>