
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminCafeMenuLayout.cshtml";
}

<div class="container">
    <div class="text-center display-5 my-4">
        Dashboard
    </div>
    <ul class="list-group shadow">
        <li class="list-group-item active bg-success">ProductCountByCategory</li>
        @await Component.InvokeAsync("CategoryComponent")

    </ul>
</div>
    


